/node_modules/

.DS_Store

commit.sh

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.yarn/build-state.yml
.yarn/cache/
.yarn/install-state.gz
.yarn/unplugged/

.eslintcache

.vscode

localhost-cert.pem
localhost-key.pem